@font-face {
    font-family: "Heather";
    src:url('../fonts/Heather.ttf');
}
body{
    font-family: monospace;
    font-size: 17px;
}

.welcome{
    background: url('../images/welcomingBackground.jpg') no-repeat center center fixed;
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -70px;
    height: -webkit-fill-available;
}
.welHead{
    font-size: 60px;
    font-family: -webkit-body;
    font-weight: bolder;
}
@media only screen and (max-width: 600px) {
    .welHead {
        font-size: 45px;
    }
    .textWelcome{
        font-size: 20px;
    }
    .underWelTxt{
        font-size: 14px;
    }
}
.welcomeDiv{
    padding: 250px 0px;
    text-align: center;
    width: 100%;
}
.textWelcome{
    color:#eb242b;
    font-size: 30px;
    font-family: "Heather";
}
.whiteTxt{
    color:white;
}

@media only screen and (max-width: 400px) {
    .welHead {
        font-size: 34px;
    }
    .textWelcome{
        font-size: 18px;
    }
    .underWelTxt{
        font-size: 14px;
    }
}
.underWelTxt{
    font-family: inherit;
}
.reserveBtn{
    background-color: #eb242b;
    color:white;
    padding: 8px 25px;
    font-size: 15px;
    border-radius: 0px;
    transition: all 0.3s;
}
.reserveBtn:hover{
    background: #C41117;
}



                                                                /* Intro */
.intro{
    background: url('../images/introBackground.png')  center center;
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}
.introDiv{
    padding: 80px 0px;
}
.blackTxt{
    color:blcak;
}
.sm{
    font-size: 40px;
}
.introTxt{
    text-align: center;
    width:50%;
    font-size: 15px;
    font-family: inherit;
    display: inline-block;
}


                                                                        /*booking*/
.book{
    background: url('../images/bookBackground.png') no-repeat center center fixed;
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bookDiv{
    padding: 230px 0px;
    text-align: center;
    width: 100%;
}
.book label{
    margin-left: -90px;
    font-size:15px;
    color:white;
}
.formSubmit{
    margin-top: 25px;
    margin-left: 50px;
}


                                                                            /*menu*/
.menu{
    
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    height: auto;
}
.menuDiv{
    padding: 80px 0px;
}
.menuNav{
    width:90%;
}
.menutable{
    width:100%;
}
.carbonads{
    max-width: 550px;
    
}
.item_Pic{
    float: left;
    height: 80px;
    width: 80px;
    max-width: 600px;
}
.item_title{
    color:#eb242b;
    font-weight: bold;
    float: left;
    padding-left: 20px;
}
.itemTitle_name{
    min-width: 350px;
    display: inline-block;
    text-align: left;
}

.item_info{
    font-size: 12px;
    float: left;
    padding-left: 20px;
    padding-top: 5px;
    max-width: 250px;
    text-align: left;
    min-width: 316px;
    min-height: 76px;
}
.orderBtn{
    margin-left: 40px;
}
@media only screen and (max-width: 440px) {
    .row{
        padding-left: 0px;
    }
    .item_Pic{
        margin-bottom:  10px;
        float: none;
        width: 100%;
        height: 100%;
        max-width: 80%;
    }
}
.cart-btn-group {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    height: 33px;
    border-radius: 10px;
}

.cart-btn-group button:first-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    background: rgba(255, 255, 255, 0);
    width: 30px;
    height: 31px;
    padding: 0;
    border-radius: 0;
    font-size: 12px;
    line-height: 1.5;
    border-right: 1px solid #ccc;
    color: #e40606;
}

.cart-btn-group input {
    display: inline-block;
    width: 35px;
    text-align: center;
    line-height: 2.3;
    font-size: 12px;
    border: 0;
    float: left;
    height: 31px;
}

.cart-btn-group button:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    background: rgba(255, 255, 255, 0);
    width: 30px;
    height: 31px;
    padding: 0;
    border-radius: 0;
    font-size: 12px;
    line-height: 1.5;
    border-left: 1px solid #dcdcdc;

    color: #337ab7;
}

.cart-btn-group button i {
    font-size: inherit !important;
    color: inherit !important
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}


                                                                    /*kitchen*/
.kitchen{
    background: url('../images/kitchenBackground.png')  center center ;
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    background-color: #f6f7f9;
}
.kitchenDiv{
    padding: 80px 0px;
}
.name{
    color:#eb242b;
    font-weight: bolder;
    font-size: 15px;
}
.job{
    font-size: 13px;
}
.sm_info{
    padding-top: 10px;
}
.sm_scon{
    width: 16px;
    height: 16px;
}

                                                                    /*review*/
.review{
    background: url('../images/welcomingBackground_2.jpg') no-repeat center center fixed;
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.reviewDiv{
    padding: 90px 0px;
}
.revDiv{
    padding: 50px 0px;
}
.arrow:hover{
    border-bottom: 0px;
}
.reviewPic{
    border-radius: 50px;
    border: 2px solid white;
}
.rewiewName{
    color:white;
}
.carousel-indicators{
    padding-bottom: 20px;
}


                                                                /*try*/
.try{
    
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.try-img{
    background: url('../images/tryPic.png') no-repeat center center ;
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
.tryDiv{
    padding: 90px 0px 200px 0px;
}
.tryImg{
    margin-right: 40px;
    margin-top: -50px;
}
.tryInfo{
    width:70%;
    display: inline-block;
    margin-left: 40px;
}
.tryInfoTxt{
    text-align: left;
}
.whiteBtn{
    border: 1px solid #eb242b;
    color:#eb242b;
    background-color: white;
    padding: 8px 25px;
    font-size: 15px;
    border-radius: 0px;
    transition: all 0.3s;
}
.whiteBtn:hover{
    background: #FFE8E8;
    color:#eb242b;
    border: 1px solid #eb242b;
}
.linee {
    bottom: -121px;
}
.linee li{
    margin-top: 30px;
    background-color: #3d3d3d80;
}
.linee .active{
    background-color: black;
}
@media only screen and (max-width: 450px) {
    .reserveBtn {
        margin-bottom: 40px;
    }
    .chef{
        font-size: 20px;
    }
    .tryInfo{
        margin-left:0px;
    }
    .linne{
        display: none;
    }
}


                                                                    /*menuII*/

.menuIIDiv{
    padding: 0px 0px;
}
.col1{
    width: 50%;
     display: inline-block;
     background: url('../images/side.png')  center center ;
    min-height: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 650px;
}
.col2{
    padding: 60px 30px;
    color: rgb(251, 245, 234);
    text-align: left;
    padding-left: 40px;
    background-color: #1a1e21;
    width: 50%;
    display: inline-block;
    text-align: center;
}
.row{
    margin-right:0px;
}
.pro{
    font-size: 30px;
    margin-left: -20px;
}




                                                                /*news**/
.newsDiv{
    padding:30px 30px ;
}
.smm{
    font-size: 20px;
}
.colIII{
    width:50%;
    display: inline-block;
}
.chef_info{
    padding :20px;
}




                                                                    /*nav_down*/
.item_down{
    color:white;
}

.imgpopup{
    float: left;
    height: 80px;
    width: 80px;
    max-width: 600px;
}
.popup_title{
    padding-left: 30px;
    font-weight: 600;
}
.thumb_menu_list img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    float: left;
    margin-left: 15px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin:20px;
}
.desc_popup{
    overflow: hidden;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */



                                                            /*SignUp*/
.form_div{
    padding:50px;
}

.signupContent{
    margin-top: 50px;
    color: white;
}
.signUpform_ctrl{
    margin-left: 0px;
    width: 250px;
}
.welcomeSignup{
    min-height: 200%;
    max-height: 200%;
}
.crtAcnt_up{
    font-size: 42px;
    font-family: "Heather";
}
.crtAcnt_dwn{
    font-size: 16px;
    font-family: inherit;
}
.form_content{
    padding: 30px;
}
.lblForm{
         font-size:15px;
}



.additem {
    margin-left: 0px;
}
.alert{
    width:40%;
    margin-top: 100px;
    z-index: -1 !important;
}
.editDel{
    width: 81px;
    border-radius: 0px;
    width:120px;
}
.editDel:hover{
    background-color:rgb(177, 176, 176);
}
.editdelpopup{
    width: 500px;
}
.hdrpopup{
    background-color: #b10000;
    color:white;
}
.delImg{
    font-size: 13px;
    color: #717171;
}
/* /////////////////////////////////loginAdmin */

.login_admin{
    background-color: #cfcfcf;
    border-radius: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.logalert{
    margin-top: 0px;
}
.imgcart{
    bottom: 50px;
    height: 35px;
    min-height: -9px;
    min-width: 13px;
    /* overflow: hidden; */
    position: fixed;
    right: 52px;
    width: 35px;
    /* z-index: 2147483600; */
    text-decoration: none; 
    width:60px;
    height:60px;
    background-color: red;
    border-radius: 30px;
    padding: 16px;
}.imgcart:hover{
    border-bottom: 0px;
    cursor: pointer;
}
.imgcart_png{
    width:30px;
    
    color:white;
}
.imgcartlabel:hover{
    border-bottom: 0px;
    cursor: pointer;
}
.loginbtn{
    margin-left: 73px;
}
.loginformdiv{
    padding-left: 10%;
    padding-top: 120px;
}